.App {
  text-align: center;
}

.App-logo {
  height: 60px;
}

.App-header {
  background-color: #564854;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Error {
	font-weight: bold;
}

.title {
	font-size: large;
	padding: 10px;
}